{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "modules": true,
    "arrowFunctions": true,
    "jsx": true,
    "classes": true,
    "templateStrings": true,
  },
  "rules": {
    "semi": [2, "always"]
  }
}
